<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>


<body ng-app="tc">
  <div ng-controller='PostCtrl' clas="container">
    <h1>Recent Posts</h1>
    <input ng-model='postBody' class='form-control' />
    <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
    <ul class="list-group">
      <li ng-repeat "post in posts" class="list-group-item">
        <strong>@ {{ post.username }}</strong>
        <span>{{ post.body }}</span>
      </li>
    </ul>
  </div>
  <script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
<script src='/app.js'></script>
</body>
</script>

</html>
